{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>les zanimos</h1>

<div class="example-wrapper">

<p> {{animal.nom}} est de couleur {{animal.color}} et pèse {{animal.poids}} kg </p>
<p> Cet animal fait partie de l'espèce <strong>{{animal.espece.libelle}}</strong></p>
<p> les {{animal.nom}}s vivent sur les continents suivants:</p>
<ul>
    {% for continent in animal.continents %}
    <li> {{continent.libelle}}
            {% endfor %}</li>
</ul>

</div>
{% endblock %}