{% extends 'base.html.twig' %}

{% block title %} Hello AdminAnimalController!
{% endblock %}

{% block body %}

    <div class="container">
        <div class="card w-100 shadow mt-5 ">
            <div class="card-body">
                {{form_start(formAnimal)}}
                {# <div>{{form_row(formAnimal.nom)}}</div>
                                    <div>{{ form_row(formAnimal.color)}}</div> #}
                {{form_widget(formAnimal)}}
                <input type='submit' value="Enregistrer">
                {{form_end(formAnimal)}}
            </div>
        </div>
    </div>

{% endblock %}
